.xs-button {
    display: inline-flex;
    /* background-color: #f7f7f5; */
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 3px;
    margin-top: auto;
    margin-right: 10px;
    margin-bottom: auto;
}

.xs-button.left {
    margin-right: 5px;
}

.xs-button:hover {
    cursor: pointer;
    background-color: #e1e1e1;
}

.xs-button.subgroup {
    background-color: #d58da9;
}

.xs-button.subgroup:hover {
    background-color: #907dbc;
}

.dot {
    height: 3px;
    width: 3px;
    border-radius: 50%;
    margin-top: 7px;
    margin-bottom: 7px;
    margin-right: 1px;
    margin-left: 1px;
    transition: background-color 0.25s;
}


.horiz-line {
    height: 1.5px;
    width: 4.5px;
    border-top-left-radius: 1px;
    border-bottom-left-radius: 1px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 2px;
    transition: background-color 0.25s;
}


.horiz-line.right {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
    margin-left: 0px;
    margin-right: 2px;
    transition: background-color 0.25s;
}

.vert-line {
    height: 10px;
    width: 1.5px;
    border-radius: 1px;
    margin-top: 3.5px;
    margin-bottom: 3.5px;
    transition: background-color 0.25s;
}