.navbar {
  background-color: #f7f7f5;
  min-width: 200px;
  margin-right: 50px;
  padding-top: 0px;
  overflow-x: hidden;
  overflow-y: auto;
}

.navbar-item {
  display: flex;
  padding-bottom: 2.5px;
  padding-top: 2.5px;
  padding-left: 30px;
  border-radius: 3px;
  border: 1px solid transparent;
  margin-right: 5px;
  margin-left: 5px;
  cursor: pointer;
}

.navbar-item:hover {
  background-color: rgb(237, 237, 237);
}

.group-title {
  font-weight: bold;
  color: grey;
  font-size: 14px;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 5px;
  display: flex;
  margin-right: 10px;
}


.group-title.add-simulation {
  border-radius: 5px;
  margin-left: 5px;
  padding: 5px;
  margin-right: 20px;
}

.group-title.add-simulation:hover {
  cursor: pointer;
  background-color: #e1e1e1;
}
