.navbar {
  background-color: #f7f7f5;
  min-width: 200px;
  margin-right: 50px;
  padding-top: 0px;
  overflow-x: hidden;
  overflow-y: auto;
}

.navbar-item {
  display: flex;
  padding-bottom: 2.5px;
  padding-top: 2.5px;
  padding-left: 30px;
  border-radius: 3px;
  border: 1px solid transparent;
  margin-right: 5px;
  margin-left: 5px;
  cursor: pointer;
}

.navbar-item:hover {
  background-color: rgb(237, 237, 237);
}
